[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gmsh = "*"
scipy = "*"
opencv-contrib-python = "*"
opencv-python = "*"
pyside6 = "*"
alive-progress = "*"
numpyencoder = "*"
flake8 = "*"
black = "*"
sphinx-autoapi = "*"
pre-commit = "*"
pandas = "*"
seaborn = "*"
alphashape = "*"
shapely = "*"
numpy = "==1.23.3"
matplotlib = "==3.6.3"
geomat = "*"

[dev-packages]
ipykernel = "*"
sphinxcontrib-bibtex = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
scikit-build = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
flake8 = "*"
black = "*"
flake8-black = "*"
geopyv = {file = ".", editable = true}

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
