alive_progress==3.0.1
colorlog==6.7.0
gmsh==4.11.1
matplotlib==3.6.3
numpy==1.24.1
numpyencoder==0.3.0
opencv_python==4.7.0.68
Pillow==9.4.0
PySide6==6.4.2
scipy==1.10.0
sphinxcontrib-bibtex==2.5.0
sphinx-copybutton==0.5.1
sphinx-autoapi==2.0.1
sphin-rtd-theme==1.2.0rc3